<h2>Add a new list</h2>

<%= simple_form_for(@list) do |f| %>
  <div class="form-inputs m-3">
    <%= f.input :name %>
  </div>
  <div class="form-actions btn btn-primary m-3">
    <%= f.button :submit %>
  </div>
<% end %>

<p><%= link_to "Back", lists_path %></p>